<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>

<div class="form-container">
    <h2>Signup</h2>
    <form action="/signup" method="post">

        <div class="form-info">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Username">
        </div>

        <div class="form-info">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Email">
        </div>

        <div class="form-info">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Password">
        </div>

        <button id="btn-submit">Create Account</button>
        <p id="signup-message"></p>
    </form>
</div>

<!--
Some things you can style using CSS:
- .form-container  (Main container for the form)
- .form-info       (input fields that take in text)
- #btn-submit      (Submit button for the signup form)
- #signup-message  (Message displayed before redirecting after signup)
-->